@media (max-width: 980px) {

    .conditions__container,
    .contacts__container {
        flex-direction: column;
    }

    .contacts__body {
        max-width: none;
        text-align: center;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .partners__container {
        row-gap: 50px;
    }

    .partners__image:first-of-type {
        display: none;
    }

    .partners__image:last-of-type {
        display: flex;
    }

    .footer__body {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer__menu {
        flex-direction: column-reverse;
    }
}

@media (max-width: 600px) {
    .banner__container {
        padding-top: 70px;
    }

    .banner__title,
    .contacts__title {
        font-size: 40px;
    }
}

@media (max-width: 550px) {
    .header__actions {
        display: none;
    }
}